# hidden files
.*
!.git*
!.editorconfig
!.nojekyll
!.travis.yml
!.markdownlint.json

# bundler cache
_site
vendor

# Jekyll cache
.jekyll-cache
.jekyll-metadata
_site

# RubyGems
*.gem
Gemfile.lock

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

# Misc
_sass/vendors
assets/js/dist
